*{
    padding: 0;
    margin: 0;
}
/* body{
    overflow: hidden;
} */
.container{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-image: url(../img/sakura_meguro.jpg);
    background-size: cover;
    position: relative;
    min-height: 586px;
}
.header{
    /* margin-top: 54px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-button{
    position: absolute;
    border: 1px solid black;
    left: 0;
}
.top-button button{
    height: 40px;
    width: 90px;
    background-color: aqua;
}
a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
header{
    margin-top: 80px;
    font-size: 50px;
    color: #ff0000;
    font-weight: 600;
    letter-spacing: 20px;
}
#btn{
    box-shadow: 0 0 18px rgb(245 237 237);
    margin-top: 39px;
    transition: 0.4s;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 130px;
    background-color: blueviolet;
    transition: 1s;
}
#btn>span{
    font-size: 48px;
    color: #ff0000;

}
#btn:hover{
    transform: translateY(-20px) scale(1.05);
    cursor: pointer;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 200px
}

@media screen and(max-width:480px)  {
    body{
        background-position: 75% 0%;
        background-size: auto 700px;
    }
}

