*{
    padding: 0;
    margin: 0;
}
/* body{
    overflow: hidden;
} */
.container{
    background-image: url(../img/sakura_meguro.jpg);
    background-size: cover;
    position: relative;
    min-height: 586px;
}
.header{
    /* margin-top: 54px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-button{
    position: absolute;
    border: 1px solid black;
    left: 0;
    top: 0;
}
.top-button button{
    height: 40px;
    width: 90px;
    background-color: aqua;
}
a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
header{
    font-size: 50px;
    color: #ff0000;
    font-weight: 600;
    letter-spacing: 20px;
}
.pageMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 30%;
}
#btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#omikujiText{
    margin-top: 30px;
}
#btn>img{
    /* box-shadow: 0 0 18px rgb(245 237 237); */
    margin-top: 39px;
    transition: 0.4s;
    background-size: cover;
} 
#btn>img:hover{
    transform: translateY(-20px) scale(1.05);
    cursor: pointer;
    animation: shaking 0.3s infinite;
}
.omikujiText{
    display: none;
    font-size: 88px;
    color: purple;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top:230px;
}
#btn.open  > * {
    animation: showMenu 0.5s linear forwards 0.4s;
    display: flex;
    align-items: center;
  }

.shutter{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    margin: 0em;
    padding: 0em;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}

.shutter::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;
}

@keyframes byeShutter{
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

@keyframes shutterOpen {
    0%{
        width:0;
        height:0.05em;
    }
    50%{
        width: 100%;
        height: 0.05em;
    }
    90%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: 100%;
        width: 100%;
    } 
}
@keyframes shaking {
    0%{transform: translate(0px,0px) rotate(0deg);}
    25%{transform: translate(2px,2px) rotate(1deg);}
    0%{transform: translate(0px,0px) rotate(0deg);}
    0%{transform: translate(2px,2px) rotate(-1deg);}
    0%{transform: translate(0px,0px) rotate(0deg);}
}
@media  (max-width:900px) {
    header{
        font-size: 57px;
        margin-top: 80px
    }
}
